parameters:
- name: org
  type: string
- name: auth
  type: string
- name: out
  type: string
  default: output.csv
- name: project
  type: string
- name: releasesPath
  type: string
  default: '/'

trigger: none

pool:
  vmImage: ubuntu-latest

steps:

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'
    includePreviewVersions: true
- task: DotNetCoreCLI@2
  inputs:
    command: 'run'    
    arguments: --org ${{ parameters.orgurl }} --auth ${{ parameters.auth }} --out ${{ parameters.out }} --project ${{ parameters.project }} --releases-path ${{ parameters.releasesPath }}
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '${{ parameters.out }}'
    artifact: 'Output'
    publishLocation: 'pipeline'